.Imc{
    background-color: #ccc;
    margin: 25px auto;
    padding: 50px;
    width: 1000px;
    display: block;
}
.Imc h4{
    font-size: 23px;
}
.Imc input{
    border: .2px solid #fefefe;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}
.Imc button{
    font-size: 20px;
    border-radius: 4px;
}